<template>
  <v-container class="program">
    <v-layout column>
      <v-flex xs12 pa-5>
        <div class="display-2 text-xs-center font-weight-light">Правила отбора и оформления тезисов докладов</div>
      </v-flex>
      <v-flex>
        <div class="subheading">
          <ul>
            <li><a href="/files/for_authors.pdf">Для авторов</a></li>
            <li><a href="/files/template.docx">Шаблон</a></li>
            <li><a href="/files/for_customers.docx">Для авторов</a></li>
          </ul>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<style src="./Rules.page.scss" scoped lang="scss"></style>
