<template>
  <v-container>
    <v-layout column>
      <v-flex xs12 pa-5>
        <div class="display-2 text-xs-center font-weight-light">Аннотация</div>
      </v-flex>
      <v-flex>
        <div class="subheading">
          <p>...</p>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>