<template>
  <v-container class="program">
    <v-layout column>
      <v-flex xs12 pa-5>
        <div class="display-2 text-xs-center font-weight-light">Программа мероприятия</div>
      </v-flex>
      <v-flex>
        <div class="subheading">
          <p>
            <b>Безопасность в компьютерных сетях и системах</b><br>
            Модератор -&nbsp;Сухов А.М., профессор кафедры суперкомпьютеров и общей информатики Самарского национального исследовательского университета
          </p>

          <p><u>На секции будут рассмотрены актуальные вопросы по безопасности в компьютерных сетях и системах. В первую очередь будет сделан обзор, посвященный техническим проблемам автономной работы российского Интернет и внешним угрозам, которые могут привести к отключению российского сегмента Интернет. В первую очередь это касается системы доменных имен, угроза блокировки каналов гораздо менее осуществима. Для защиты от сетевых вторжений предполагается обсудить защитную инфраструктуру на основе&nbsp;</u><u>SDN</u><u>. Представленные доклады будут касаться различных аспектов этой проблемы. Будет обсуждена также проблема мониторинговых систем в российском сегменте Интернета, показаны сведения, которые собираются европейским центром управления глобальной сетью (</u><u>RIPE</u><u>&nbsp;</u><u>NCC</u><u>), а также проведено сравнение с разработанными в России средствами сетевого мониторинга</u>
          </p>

          <table border="1" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Тип доклада (пленарный, устный, стендовый)</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>ФИО докладчика</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Название доклада</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Пленарный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Сухов А.М., профессор каф. суперкомпьютеров и общей информатики Самарского университета</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Автономность российского сегмента сети интернет как система технических требований</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Сагатов Е.С., доцент каф. суперкомпьютеров и общей информатики Самарского университета</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Применение технологий SDN для защиты от сетевых вторжений</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Дмитренко П., ассистент каф. компьютерной инженерии и моделирования КФУ</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>
                  Анализ основных сетевых уязвимостей для samba, инструмента доступа к сетевым дискам и принтерам для различных операционных систем по протоколу SMB/CIFS</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Долгополов Н.М., студент Самарского университета</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Модуль SDN для предотвращения сбора информации об информационном ресурсе</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Салимов А.С., КФУ</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>SDN модуль для управления коммутаторами различных операторов связи</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Шкирдов Д.А., магистр, Самарский университет</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Построение модели сетевого вторжения на основе данных с серверов-ловушек</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Шинкаренко Д.</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Разработка классификации уязвимостей для систем управления контентом (CMS Joomla, WordPress)</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Стендовый доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Сагатов Е.С., доцент каф. суперкомпьютеров и общей информатики Самарского университета</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Разработка единой инфраструктуры SDN для управления трафиком в российском сегменте Интернет</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Стендовый доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Сухов А.М., профессор каф. суперкомпьютеров и общей информатики Самарского университета</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Проблема замены корневых серверов в новой версии программы bind</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Стендовый доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Сухов А.М., профессор каф. суперкомпьютеров и общей информатики Самарского университета</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>
                  Импортозамещение систем мониторинга глобальной сети и российского сегмента (NetTestBox и RIPE ATLAS)</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Стендовый доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Сагатов Е.С., доцент каф. суперкомпьютеров и общей информатики Самарского университета</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>
                  Человеческий фактор как основная причина взлома сетевых информационных систем (на примере статистики с серверов ловушек)</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Сейтумеров Темур Сейтумерович, студент КФУ</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>
                  Автоматизированная система анализа и фильтрации трафика с использованием гибко меняющихся правил в программно-определяемых сетях</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Лукиных Алексей Сергеевич, студент КФУ</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Методика управления трафиком в сетях с использованием технологии SDN</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Штро Михаил Александрович, студент КФУ</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Исследование сетевых угроз для сервиса передачи файлов (ftp)</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Зейтуллаев Алим Якубович, студент КФУ</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Система выявления атак типа mac spoofing в локальной сети.</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Бурдин Даниил Владимирович</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Пороговые значения сетевых переменных для определения&nbsp;ddos-атак&nbsp;&nbsp;</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Васильев Павел Васильевич</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Инфраструктура для обнаружения источников сетевых атак</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Стендовый доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Чабанов Владимир Викторович -&nbsp;</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>
                  Специальная теория относительности и механизмы выявления аномальной географической маршрутизации в глобальной сети</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Черныш Дмитрий Петрович</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>
                  Импортозамещение систем мониторинга глобальной сети и российского сегмента (NetTestBox и RIPE ATLAS)</p>
              </td>
            </tr>
            </tbody>
          </table>

          <p>
            <br>
          </p>

          <p><u>Название секции</u>&nbsp; &nbsp;<strong>Техническая защита информации<br>&nbsp;</strong>Модератор -&nbsp;Хорев А.А., профессор, зав. кафедрой информационной безопасности, МИЭТ
          </p>

          <table border="1" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Тип доклада (пленарный, устный, стендовый)</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>ФИО докладчика</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Название доклада</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Пленарный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Хорев Анатолий Анатольевич,
                  <br>&nbsp;профессор, зав. кафедрой компьютерной безопасности МИЭТ</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Разработка модуля учета времени наработки систем пространственного
                  <br>&nbsp;зашумления</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Хорев Анатолий Анатольевич,
                  <br>&nbsp;профессор, зав. кафедрой компьютерной безопасности МИЭТ</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Исследование акустоэлектромагнитных каналов утечки акустической
                  <br>речевой информации, возникающих при использовании радиоприемных
                  <br>&nbsp;устройств</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Хорев Анатолий Анатольевич,
                  <br>&nbsp;профессор, зав. кафедрой компьютерной безопасности МИЭТ</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Экспериментальные исследования средств шумоочистки</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Хорев Анатолий Анатольевич,
                  <br>&nbsp;профессор, зав. кафедрой компьютерной безопасности МИЭТ</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Экспериментальные исследования разборчивости речи в условиях помех</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Мустафаева М.И., Сосновский Ю.В.&nbsp;</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Применение USB SDR приемников как средств анализа радиообстановки в учебных целях</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Милюков В.В., Сосновский Ю.В.&nbsp;</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Некоторые аспекты безопасности интеллектуальных встраиваемых устройств</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад&nbsp;</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Карвовский Р.В., Поговоров Д.А.&nbsp;</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>
                  Современные подходы к обеспечению безопасности и помехоустойчивости каналов передачи данных в управлении любительскими БПЛА</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Корниенко Андрей Юрьевич</p>

                <p>
                  <br>
                </p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Модели и методы анализа базовых угроз безопасности промышленных протоколов АСУ ТП</p>

                <p>
                  <br>
                </p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Олюшкевич О.В.</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Использование методов шифрования для предотвращения киберугроз</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Скиба М.М.</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Проблемы обеспечения информационной безопасности в&nbsp;WEB-приложениях</p>
              </td>
            </tr>
            <tr>
              <td valign="top" width="21.29436325678497%">

                <p>Устный доклад</p>
              </td>
              <td valign="top" width="41.75365344467641%">

                <p>Степченко А.В.</p>
              </td>
              <td valign="top" width="36.95198329853862%">

                <p>Безопасное хранение паролей в&nbsp;WEB-приложениях</p>
              </td>
            </tr>
            </tbody>
          </table>

          <p>
            <br>
          </p>

          <p><strong>Внимание!</strong></p>

          <p>
            Ожидается еще 65 докладов студентов из различных вузов Российской Федерации, после официальной рассылки Федерального учебно-методического объединения в марте 2019г.</p>

          <p>
            При Online регистрации будут приниматься заявки на участие в Летней школе только при наличии доклада на научную конференцию, которая пройдет в рамках Летней школы.</p>

          <p>
            Модераторами будут отобраны 30 докладов для устных сообщений. Лучшие доклады войдут в публикуемый сборник трудов конференции.&nbsp;</p>

        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<style src="./Program.page.scss" scoped lang="scss"></style>