<template>
  <v-container fluid class="stats-block-container">
    <v-container>
      <v-row>
        <v-col cols="12" sm="4">
          <table class="table-stats">
            <tr>
              <td> 81</td>
              <td>балл — средний результат учеников Годографа</td>
            </tr>
            <tr>
              <td> <span>+</span> 41</td>
              <td> стандартный прирост баллов за один курс обучения в центре.</td>
            </tr>
            <tr>
              <td><span>на</span> 29</td>
              <td>баллов больше, чем средний результат по России</td>
            </tr>
          </table>
        </v-col>


        <v-col cols="12" sm="4" class="vertical-line">
          <h3 class="py-5">Поддержка 24/7 </h3>
          Онлайн-диалог с преподавателем, общий чат группы, постоянная поддержка в онлайн-режиме и на очных занятиях.
          <h3 class="py-5">Персональная работа</h3>
          Основываясь на уровне знаний и цели обучения, преподаватели находят индивидуальный подход к каждому ученику.
        </v-col>
        <v-col cols="12" sm="4">
          <h3 class="py-5">Контроль успеваемости</h3>
          Еженедельная sms-рассылка для родителей с подробной информацией об успеваемости.
          <h3 class="pb-5 pt-10">Отслеживание результатов</h3>
          Для определения динамики обучения предусмотрены 3 полноценных пробных ОГЭ или ЕГЭ в течение курса.
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<style src="./StatsBlock.component.css"/>
