.stats-block-container{
    background: lightslategrey;
    color: #fff;
}
.table-stats tr td:first-child {
    font-size: 50px;
    font-weight: 900;
    padding: 7px;
    min-width: 140px;
    text-align: right;
}
.table-stats tr td:first-child span {
    font-size: 30px;
}
.vertical-line {
    border-left: 1px solid rgba(255, 255, 255, 0.47);
}
