<template>
  <v-container fluid class="stats-block-container">
    <v-container>
      <h2 class="text-h3 font-weight-thin text-center mb-10 white--text">Стоимость занятий на курсах ЕГЭ и ОГЭ</h2>
          <table class="table-st text-center text-body-1" border="1px">
            <tr>
              <td></td>
              <td>Месяц<br>занятий</td>
              <td>4 месяца занятий со <br>скидкой 10%</td>
              <td>8 месяцев занятий со <br>скидкой 15%</td>
              <td>Стоимость академического часа<br> при оплате<br>месяца/4 месяцев/8 месяцев</td>
            </tr>
            <tr>
              <td>Стоимость, руб.</td>
              <td>3900</td>
              <td>14040</td>
              <td>26520</td>
              <td>325/292/276</td>
            </tr>

          </table>
    </v-container>
  </v-container>
</template>

<style src="./PriceBlock.component.css"/>
