.stats-block-container{
    background: #303044;
}
.table-st{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto 10px;
    border: 1px solid #fff;
    color: #fff;
}

.table-st td {
    padding: 10px;
}
