.types_group_box {
  box-shadow: 0 2px 40px rgba(150,74,0,.1);
  margin-top: 40px;
}
.types_group_box-head {
  background: linear-gradient(353.29deg,#2bd7ff 4.54%,#1976d2 98.18%);
  color: #fff;
  line-height: 1em;
  font-size: 20px;
  padding: 18px 30px;
  border-radius: 15px 15px 0 0;
  font-weight: 600;
}
.types_group_box-row {
  padding: 20px;
  display: flex;
  align-items: flex-start;
}
.types_group_box-bigNumb {
  background: linear-gradient(353.29deg,#2bd7ff 4.54%,#1976d2 98.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 50px;
  white-space: nowrap;
  padding-right: 30px;
  text-align: center;
  margin-top: 20px;
  line-height: 1em;
}
