$collapse-width: 600px;

.home {
  min-height: 1000px;
  .header-title {
    font-size: 30px;
    font-weight: 600;
  }
  .header-text {
    font-size: 20px;
    margin-bottom: 50px;
    display: block;
  }
  @media screen and (max-width: $collapse-width) {
    .header-title {
      font-size: 20px;
    }
    .header-text {
      font-size: 15px;
      margin-bottom: 0;
    }
  }
  .prsp-container {
    perspective: 800px;
    .prsp-box {
      background: #00000069;
      transform: rotateY(-20deg);
      perspective: 800px;
      padding: 50px;
    }
    @media screen and (max-width: $collapse-width) {
      .prsp-box {
        padding: 10px;
      }
    }
  }
  .primary-block {

  }
  .partners-title {
    font-size: 30px;
    color: #333;
    text-align: center;
  }
}
