<template>
  <section class="home">
    <primary-block title="Подготовка к ЕГЭ и ОГЭ очно и онлайн с лучшими преподавателями и экспертами ЕГЭ">
      <div class="nd_promo "><p><span style="color: #ff0000"><strong><br>ПОЧЕМУ&nbsp; 5 ЛЕТ&nbsp; В КРЫМУ&nbsp; ВЫБИРАЮТ&nbsp; НАС:</strong></span>
      </p>
        <ul>
          <li>увеличение результата за курс подготовки на<strong> 40-50 </strong>баллов</li>
          <li>без нудных лекций, занятия в формате диалога</li>
          <li>возможность экономии с акциями от Годографа</li>
        </ul>
        <p class="text-h6 font-weight-medium">Мы начинаем новый учебный год и проводим</p>
        <p><span style="color: #ff0000"><strong>АКЦИЮ «Учись с друзьями!»</strong></span></p>
        <p><strong>Пригласи </strong>на подготовку своего друга, и вы оба получите <strong>скидку 20%</strong> на месяц
          подготовки по любому предмету в нашем Центре.</p>
        <p>&nbsp;</p>
      </div>
    </primary-block>


    <v-container>
      <v-row no-gutters>
        <v-col cols="6" md="5">
          <v-card class="pa-2" flat>
            <img src="/images/teacher.jpeg" width="100%">
          </v-card>
        </v-col>
        <v-col cols="12" sm="6" md="7">
          <v-card class="pa-2" flat>
            <div>
              <h2 class="text-h3 font-weight-thin pb-10">
                Почему работа в группах - лучший вариант подготовки? </h2>
              <div>
                <p class="text-h6 font-weight-medium">Многим кажется, что индивидуальные занятия с репетитором наиболее
                  эффективны. Однако наш опыт доказывает обратное.</p>
                <p><span><strong>Залог успешной подготовки - личная ответственность. Обучение с репетитором облегчает задачу для ученика, который получает помощь от учителя. Но в высших учебных заведениях, как и на экзаменах, никто не подскажет.</strong></span>
                </p>
                <p>Курсы Годографа делают акцент на самостоятельной подготовке. Преподаватель направляет ученика, но не
                  помогает с каждым заданием. Как итог - ученик оказывается сконцентрирован на собственном результате, а
                  работа в группе развивает самодисциплину и положительно сказывается на мотивации.</p>
                <p>&nbsp;</p>
              </div>
              <div class="types_group_box">
                <div class="types_group_box-head">Типы групп:</div>

                <div class="types_group_box-row">
                  <div class="types_group_box-bigNumb">00-35</div>
                  <div class="types_group_box-content">
                    <div class="types_group_box-content-title">Базовый уровень (Менее 35 баллов из 100)</div>
                    <div class="types_group_box-content-list">
                      <ul>
                        <li>Прохождение материала школьной программы с 5 класса</li>
                        <li>Проработка сложных тем предмета</li>
                        <li>Решение тестов ОГЭ и ЕГЭ</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="types_group_box-row">
                  <div class="types_group_box-bigNumb">35-65</div>
                  <div class="types_group_box-content">
                    <div class="types_group_box-content-title">Средний уровень (От 35 до 65 баллов из 100)</div>
                    <div class="types_group_box-content-list">
                      <ul>
                        <li>Повторение всех тем школьной программы</li>
                        <li>Разбор заданий среднего уровня</li>
                        <li>Постепенный переход к более сложным заданиям</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="types_group_box-row">
                  <div class="types_group_box-bigNumb">65-99</div>
                  <div class="types_group_box-content">
                    <div class="types_group_box-content-title">Высокий уровень (Более 65 баллов из 100)</div>
                    <div class="types_group_box-content-list">
                      <ul>
                        <li>Безошибочное решение задач среднего уровня</li>
                        <li>Подробный разбор тем высокой степени сложности</li>
                        <li>Тренировка на заданиях олимпиадного уровня</li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <stats-block></stats-block>
    <training-process-block></training-process-block>
    <slider-block></slider-block>
    <feedback-block></feedback-block>

    <v-container>
      <v-row class="mx-15">
        <v-col cols="12" sm="8" class="pa-10">
          <h2 class="text-h4 font-weight-medium py-12">Технологию обучения мы создавали 7 лет — теперь ученик занимает
            главенствующую роль в классе!</h2>
          <p>Годограф существует с 2012 года. За это время мы не только столкнулись с различными способами преподавания
            педагогов, но и попробовали применять различные мировые учения. Так мы смогли найти оптимальный вариант
            работы в мини группах, который дает на ЕГЭ и ОГЭ самый высокий результат.</p>
          <p>Кроме верно выстроенного урока вы получаете доступ к базе видео “Годографа”. Курс состоит из 200 видео и
            позволяет закрыть пробелы, если по каким-то причинам в учебное время материал пройти не удалось.</p>
          <v-row>
            <v-col cols="12" sm="4">
              <iframe class="rounded-xl" width="200" height="116" src="https://www.youtube.com/embed/Jwr6gAkPt-E"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </v-col>
            <v-col cols="12" sm="4">
              <iframe class="rounded-xl" width="200" height="116" src="https://www.youtube.com/embed/Jwr6gAkPt-E"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </v-col>
            <v-col cols="12" sm="4">
              <iframe class="rounded-xl" width="200" height="116" src="https://www.youtube.com/embed/Jwr6gAkPt-E"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" sm="4" class="pt-15">
          <img src="/images/teacher.jpeg" height="400">
        </v-col>
      </v-row>
    </v-container>
    <price-block></price-block>
    <map-block></map-block>

  </section>
</template>

<style src="./Home.page.css"></style>

<script src="./Home.page.js"></script>
