.courses-container{
 width: 1000px;
}
.course-vline {
 border-left: 1px solid #eee;
}
a.tel-head:link{
 color: #00509f;
 text-decoration: none;
}
a.course-link:link, a.course-link:visited {
 text-decoration: none;
 color: #333333;
 font-size: 18px;
 padding: 13px 21px;
 display: block;
 border-radius: 4px;
}
a.course-link:hover {
 background: #f3e9e9;
 cursor: pointer;
}