<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <v-app-bar
        fixed
        color="white"
        elevate-on-scroll
    >

      <v-toolbar-title>
        <v-btn text to="/">Логотип</v-btn>
      </v-toolbar-title>
      <v-toolbar-items class="hidden-sm-and-down mx-10">

        <v-menu
            v-model="menu"
            open-on-hover
            :close-on-content-click="false"
            :nudge-width="200"
            offset-y
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                text
                v-bind="attrs"
                v-on="on"
            >
              Курсы
            </v-btn>
          </template>

          <v-card>
            <v-container class="grey lighten-5 courses-container pa-0">
              <v-row no-gutters>
                <v-col cols="12" sm="4" v-for="type in types" :key="type.title" class="course-vline">

                  <v-row no-gutters>
                    <v-col cols="12" sm="12">
                      <h3 class="py-3 px-5">{{ type.title }}</h3>
                    </v-col>
                    <v-col cols="12" sm="6" v-for="course in type.courses" :key="course.id">
                      <router-link :to="`/course/${course.id}`" class="course-link">
                          {{ course.short_name }}
                      </router-link>
                    </v-col>
                  </v-row>

                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-menu>
        <v-btn text to="/contacts">Контакты</v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>

      <div class="mr-2">
        <v-icon :size="25">phone</v-icon>
      </div>
      <div>
        <a href="tel:+79788888888" class="tel-head">+79788888888</a>
        <br>
        <a href="tel:+79734888888" class="tel-head">+79734888888</a>
      </div>

      <div class="ml-6">
        <v-icon :size="25">home</v-icon>
      </div>
      <div class="ml-2">
        <span>город Симферополь</span>
      </div>
      <v-spacer></v-spacer>
      <request-button/>

    </v-app-bar>

    <div style="height: 70px"></div>
  </div>
</template>
<style src="./HeaderBar.component.css"/>
<script src="./HeaderBar.component.js"/>
