<template>
  <section>
    <v-card>
      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">{{form.name}}</h3>
          <div>{{form.description}}</div>
        </div>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form" lazy-validation>
          <v-alert :value="error" dismissible type="error" transition="slide-y-transition" style="margin-bottom: 30px">
            {{error}}
          </v-alert>
          <v-alert :value="!!complete" type="info" transition="slide-y-transition" style="margin-bottom: 30px">
            <span v-html="complete"></span>
          </v-alert>
          <template v-for="field in form.fields">
            <template v-if="field.type === 'text'">
              <v-text-field
                  v-model="field.value"
                  :key="field.id"
                  :label="field.name"
                  :rules="field.rules"
                  :disabled="!!complete || loading"
                  :required="field.isMandatory"
                  outline></v-text-field>
            </template>
            <template v-if="field.type === 'email'">
              <v-text-field
                  v-model="field.value"
                  :key="field.id"
                  :label="field.name"
                  :rules="field.rules"
                  :disabled="!!complete || loading"
                  :required="field.isMandatory"
                  outline></v-text-field>
            </template>
            <template v-else-if="field.type === 'checkbox'">
              <v-checkbox
                  v-model="field.value"
                  :key="field.id"
                  :label="field.name"
                  :required="field.isMandatory"
                  :disabled="!!complete || loading"></v-checkbox>
            </template>
            <template v-else-if="field.type === 'file'">
              <v-text-field
                  :key="field.id"
                  readonly
                  :label="field.name"
                  :required="field.isMandatory"
                  :disabled="!!complete || loading"
                  @click='pickFile'
                  v-model='field.value'
                  append-icon='attach_file'
                  outline></v-text-field>
              <input
                  :key="0 - field.id"
                  type="file"
                  style="display: none"
                  ref="file"
                  @change="e => onFilePicked(e, field.id)">
            </template>
            <template v-else-if="field.type === 'date'">
              <v-menu
                  :key="field.id"
                  v-model="field.menu"
                  :close-on-content-click="false"
                  :disabled="!!complete || loading"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px">
                <v-text-field
                    slot="activator"
                    v-model="field.value"
                    :label="field.name"
                    :rules="field.rules"
                    :required="field.isMandatory"
                    :disabled="!!complete || loading"
                    outline
                    append-icon="event"
                    readonly
                ></v-text-field>
                <v-date-picker v-model="field.value" @input="field.menu = false"></v-date-picker>
              </v-menu>
            </template>
          </template>
          <v-layout row>
            <v-flex>
              <v-checkbox
                  hide-details
                  required
                  :rules="[v => !!v || 'false']"
                  label="Согласен на обработку перс. данных">
              </v-checkbox>
            </v-flex>
            <v-flex>
              <div class="text-xs-right" v-if="save">
                <v-btn v-if="complete" large disabled outline>
                  Сохранено
                  <v-icon right dark>check</v-icon>
                </v-btn>
                <v-btn
                    v-else
                    large
                    color="teal darken-4"
                    :loading="loading"
                    :disabled="!valid || loading"
                    class="white--text"
                    @click="_save">
                  Сохранить
                </v-btn>
              </div>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
    </v-card>
  </section>
</template>

<script src="./MemberForm.component.js"></script>
