<template>
  <v-container>
  <v-row>
    <v-col cols="12" sm="4"><iframe class="rounded-xl" width="370" height="210" src="https://www.youtube.com/embed/Jwr6gAkPt-E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></v-col>
    <v-col cols="12" sm="4"><iframe class="rounded-xl" width="370" height="210" src="https://www.youtube.com/embed/Jwr6gAkPt-E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></v-col>
    <v-col cols="12" sm="4"><iframe class="rounded-xl" width="370" height="210" src="https://www.youtube.com/embed/Jwr6gAkPt-E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></v-col>
  </v-row>
  </v-container>
</template>
