<template>
  <v-container>
    <v-row no-gutters>
      <v-col cols="12" sm="6" md="7">
        <v-card class="pa-2" flat>
          <div>
            <h1 class="text-h3 font-weight-thin py-5"> {{title}} </h1>
            <slot></slot>
            <request-button large class="ma-10" text="Забронировать место в группе"/>
          </div>
        </v-card>
      </v-col>
      <v-col cols="6" md="5">
        <v-card class="pa-2" flat>
         <img src="/images/teacher.jpeg" width="100%">
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script src="./PrimaryBlock.component.js"/>
