<template>
  <v-footer color="blue-grey darken-2" class="theme--dark">
    <v-container>
      <v-row>
        <v-col cols="12" sm="5">

          <p>logo</p>
          <p>© 2012-2020 Учебный центр<br>
            Курсы подготовки к ЕГЭ и ОГЭ в г. Симферополь</p>

        </v-col>

        <v-col cols="12" sm="3">
          <div>
            <a href="tel:+79788888888" class="footer-link">+79788888888</a>
            <br>
            <a href="tel:+79734888888" class="footer-link">+79734888888</a>
            <br>
            <a href="mailto:123@gmail.com" class="footer-link">123@gmail.com</a>
          </div>
        </v-col>

        <v-col cols="12" sm="4">
          <ul>
            <li><a href="/" class="footer-link"> Главная</a></li>
            <li><a href="/contacts" class="footer-link">Контакты</a></li>
          </ul>
        </v-col>

      </v-row>
    </v-container>
  </v-footer>
</template>


<style src="./FooterBar.component.css"/>
<script src="./FooterBar.component.js"/>
