<template>
  <v-card class="ma-10" color="#29caf9">

      <v-row class="mx-15">
        <v-col cols="12" sm="5" class="pa-10">
          <img src="/images/feedback.png" width="100%">
        </v-col>
        <v-col cols="12" sm="7" class="text-center">
          <h2 class="text-h4 font-weight-medium py-12" > Хотите попробовать обучение?</h2>
          <p class="body-1"> Запишитесь на бесплатный урок и получите рекомендации по обучению.</p>
          <request-button xlarge text="Забронировать место в группе" class="ma-15"/>
        </v-col>
      </v-row>
  </v-card>
</template>

<script src="./FeedbackBlock.component.js"/>
