<template>
  <v-container>
    <h2 class="text-h2 font-weight-thin text-center pt-10">Как проходит обучение:</h2>
    <v-row class="mx-16">
      <v-col cols="12" sm="6" class="pa-10">
        <v-parallax width="100%" height="400" src="/images/i1.jpg"></v-parallax>
      </v-col>
      <v-col cols="12" sm="6">
        <h3 class="text-h4 py-12">Первый бесплатный урок</h3>
        <p class="paralax-text">Тестирование на реальных бланках экзамена, знакомство с преподавателем, постановка целей подготовки.</p>
        <request-button large class="ma-10" text="Забронировать место в группе"/>
      </v-col>
    </v-row>

    <v-row class="mx-16">
      <v-col cols="12" sm="6">
        <h3 class="text-h4 py-12">Полноценная подготовка к экзаменам</h3>
        <p class="paralax-text">Тестирование на реальных бланках экзамена, знакомство с преподавателем, постановка целей подготовки.</p>
      </v-col>
      <v-col cols="12" sm="6" class="pa-10">
        <v-parallax width="100%" height="450" src="/images/i1.jpg"></v-parallax>
      </v-col>
    </v-row>

    <v-row class="mx-16">
      <v-col cols="12" sm="6" class="pa-10">
        <v-parallax width="100%" height="450" src="/images/i1.jpg"></v-parallax>
      </v-col>
      <v-col cols="12" sm="6">
        <h3 class="text-h4 py-12">Пробные тестирования</h3>
        <p class="paralax-text">Тестирование на реальных бланках экзамена, знакомство с преподавателем, постановка целей подготовки.</p>
      </v-col>
    </v-row>

    <v-row class="mx-16">
      <v-col cols="12" sm="6">
        <h3 class="text-h4 py-12">Сопровождение после экзамена</h3>
        <p class="paralax-text">Тестирование на реальных бланках экзамена, знакомство с преподавателем, постановка целей подготовки.</p>

      </v-col>
      <v-col cols="12" sm="6" class="pa-10">
        <v-parallax width="100%" height="450" src="/images/i1.jpg"></v-parallax>
      </v-col>
    </v-row>
  </v-container>
</template>

<style src="./TrainingProcessBlock.component.css"/>
<script src="./TrainingProcessBlock.component.js"/>
