<template>
  <v-card>
    <v-img
        src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
        height="200px"
    >
    </v-img>

    <v-card-title primary-title>
      <div>
        <div class="headline">{{card.title}}</div>
      </div>
    </v-card-title>

    <v-card-actions>
      <span class="grey--text">1,000 miles of wonder</span>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>keyboard_arrow_down</v-icon>
      </v-btn>
    </v-card-actions>

  </v-card>
</template>

<script src="./EventCard.component.js"></script>