<template>
  <v-hover>
    <v-card
        slot-scope="{ hover }"
        :class="`elevation-${hover ? 12 : 2}`">
      <v-img
          class="white--text"
          :aspect-ratio="12/9"
          :src="card.image.small">
        <v-container fill-height fluid>
          <v-layout fill-height>
            <v-flex xs12 align-end flexbox>
              <span class="display-1 font-weight-light">{{card.date}}</span>
            </v-flex>
          </v-layout>
        </v-container>
      </v-img>
      <v-card-title primary-title>
        <h3 class="subheading mb-1">{{card.title}}</h3>
        <div>{{card.description}}</div>
      </v-card-title>
    </v-card>
  </v-hover>
</template>

<script src="./ArticleCard.component.js"></script>