<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-row justify="center">
    <v-dialog
        v-model="dialog"
        max-width="550px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            color="primary"
            dark
            rounded
            :large="large"
            :x-large="xlarge"
            v-bind="attrs"
            v-on="on"
        >
          {{ text ? text : 'Записаться на курс' }}
        </v-btn>
      </template>
      <v-card class="pa-10">
        <v-card-title>
          <span class="headline">
            Запись на курс
          </span>
        </v-card-title>
        <v-card-text>
          <request-form/>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script src="./RequestButton.component.js"/>
