<template>
  <v-container fluid>
    <h2 class="text-h3 font-weight-thin text-center pb-10">Эмоции наших учеников после сдачи экзаменов:</h2>

    <v-carousel
        cycle
        height="500"
        hide-delimiter-background
        show-arrows-on-hover
    >
      <v-carousel-item
          v-for="(slide, i) in slides"
          :key="i"
      >
          <v-row
              class="fill-height"
              align="center"
              justify="center">
            <v-col cols="12" sm="4" v-for="(img) in slide" :key="img" >
              <v-card width="260" elevation="4" rounded="xl" class="mx-auto">
                <v-img
                    :src="img"
                    class="white--text align-end"
                    gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.2)"
                    height="470px"
                >
                  <!--<v-card-title v-text="card.title"></v-card-title>-->
                </v-img>
              </v-card>
            </v-col>

          </v-row>
      </v-carousel-item>
    </v-carousel>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
       slides:[
         [
           '/images/slides/slide_7.jpg',
           '/images/slides/slide_6.jpg',
           '/images/slides/slide_5.jpg',
         ],
         [
           '/images/slides/slide_6.jpg',
           '/images/slides/slide_5.jpg',
           '/images/slides/slide_4.jpg',
         ],
         [
           '/images/slides/slide_7.jpg',
           '/images/slides/slide_5.jpg',
           '/images/slides/slide_4.jpg',
         ]
       ]
      }
    },
  }
</script>
