<template>
  <section v-if="course">
    <primary-block :title="course.main_title">
      <p v-html="course.description" class="text-body-1 pt-5" ></p>
    </primary-block>
    <success-block
        :title="course.secondary_title"
        :image="course.main_image ? course.main_image.data.full_url : null"
        :content="course.content"></success-block>
    <stats-block></stats-block>
    <training-process-block></training-process-block>
    <video-block></video-block>
    <slider-block></slider-block>
    <feedback-block></feedback-block>
    <price-block></price-block>
    <map-block></map-block>
  </section>
</template>


<script src="./Course.page.js"></script>
