<template>
  <v-container fluid class="mt-16 pa-0">
    <div class="feedback-card">
      <h2>Обратный звонок</h2>
      <p>Оставьте заявку и мы перезвоним вам в течение ближайшего часа.</p>
      <request-form/>
    </div>
    <yandex-map
        :coords="[44.964464, 34.096970]"
        zoom="15"
        style="height: 500px;"
        :cluster-options="{
    1: {clusterDisableClickZoom: true}
  }"
        map-type="map"
    >

      <ymap-marker
          markerId="1"
          marker-type="placemark"
          :coords="[44.964464, 34.096970]"
          hint-content="Название"
          :balloon="{header: 'Фирма'}"
          :icon="{color: 'red'}"
          cluster-name="1"
      ></ymap-marker>


    </yandex-map>
  </v-container>
</template>

<style src="./MapBlock.component.css"></style>
<script src="./MapBlock.component.js"></script>
