.feedback-card{
    position: absolute;
    width: 400px;
    height: 500px;
    z-index: 1;
    padding: 80px 70px 30px;
    background: #fff;
    border: 8px solid #ffd201;
    margin-left: 100px;
    margin-top: -40px;
    margin-bottom: 50px;
}
