<template>
  <v-layout column align-center justify-center row fill-height>
    <v-flex pa-5>
      <v-icon :size="170">fas fa-sad-tear</v-icon>
    </v-flex>
    <v-flex pb-5>
      <h1 style="color: rgba(0,0,0,0.54);">Событие не найдено либо было удалено...</h1>
    </v-flex>
  </v-layout>
</template>
