<template>
  <section>
    <v-layout row wrap>
      <v-flex xs12 pa-5>
        <div class="display-2 text-xs-center font-weight-light">Летняя школа 2019</div>
      </v-flex>
      <v-flex xs12 pa-4>
        <div class="headline">{{description}}</div>
      </v-flex>
      <v-flex md6>
        <v-card>
          <v-card-title primary-title>
            <h3 class="headline pl-4 text-md-center">
              Программа события
            </h3>
          </v-card-title>
          <v-card-text class="pa-5">
            <template v-for="(day,i) in days">
              <v-timeline dense clipped :key="i">
                <v-timeline-item color="primary">
                  {{day.title}}
                </v-timeline-item>
              </v-timeline>
              <template v-for="(item, j) in day.schedule">
                <v-timeline dense clipped :key="i+''+j">
                  <v-timeline-item color="grey" small>
                    <v-layout justify-space-between>
                      <v-flex xs7>{{item.title}}</v-flex>
                      <v-flex xs5 text-xs-right>{{item.date}}</v-flex>
                    </v-layout>
                  </v-timeline-item>
                </v-timeline>
              </template>
            </template>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex md6>
        <member-form v-if="form" :form="form" :save="save"></member-form>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
  import MemberForm from '../../../components/MemberForm';
  import {submitForm} from '../../../api';
  import {FETCH_FORMS} from '../../../store/action-types';

  export default {
    components: {
      MemberForm,
    },
    watch: {
      '$store.state.forms': function (forms) {
        const types = {
          1: {v: 'text', rules: []},
          2: {v: 'checkbox', rules: []},
          3: {v: 'date', rules: []},
          4: {v: 'email', rules: []},
          5: {v: 'file', rules: []},
        };
        const form = forms.find(f => f.id === 1);
        if (!form) {
          return null;
        }
        this.form = {
          id: form.id,
          name: form.name,
          description: form.description,
          fields: form.fields.map(field => ({
            id: field.id,
            name: field.name + (field.isMandatory ? ' *' : ''),
            type: types[field.typeId].v,
            value: null,
            rules: types[field.typeId].rules.concat(field.isMandatory ? [v => !!v || 'Обязательно'] : []),
            isMandatory: field.isMandatory,
          })),
        };
      }
    },
    data() {
      return {
        description: '23-31 июля 2019г. на базе Крымского федерального университета им. В.И. Вернадского, его структурного подразделения Физико-технического института и филиала КФУ Гуманитарно - педагогической академии в г. Ялте состоится Всероссийская студенческая Летняя школа по компьютерной безопасности.',
        days: [{
          title: 'Вторник, 23 июля',
          schedule: [{
            title: 'Встреча',
            date: '12:00',
          }],
        }, {
          title: 'Среда, 31 июля',
          schedule: [{
            title: 'Завершение',
            date: '12:00',
          }],
        }],
        form: null,
      };
    },
    async mounted() {
      await this.$store.dispatch(FETCH_FORMS);
    },
    methods: {
      async save(form) {
        try {
          const resp = await submitForm({
            form_id: form.id,
            fields: form.fields.map(field => ({
              field_id: field.id,
              file: field.file,
              value: typeof field.value === 'boolean' ? '' + field.value : field.value,
            })),
          });
          this.$vuetify.goTo(0);
          return `Вы успешно зарегистрировались! Ваш номер регистрации <b>${resp.entry_id}</b>`;
        } catch (e) {
          this.$vuetify.goTo(0);
          throw 'При сохранении формы произошла ошибка. ' + e.errMessage;
        }
      },
    }
  };
</script>
