<template>
  <v-app id="scrolling-techniques-7">
    <header-bar></header-bar>
    <v-content>

      <v-slide-x-transition>
        <router-view/>
      </v-slide-x-transition>
    </v-content>
    <footer-bar></footer-bar>

  </v-app>
</template>

<script>
  import HeaderBar from './components/HeaderBar';
  import FooterBar from './components/FooterBar';

  export default {
    name: 'App',
    components: {
      HeaderBar,
      FooterBar,
    },
  };
</script>
