<template>
  <div>
    <v-form
        v-if="!sent"
        ref="form"
        v-model="valid"
        lazy-validation
    >
      <v-text-field
          v-model="name"
          :counter="10"
          :rules="[v => !!v || 'Имя обязательно']"
          label="Ваше имя"
          required
      ></v-text-field>

      <v-text-field
          v-model="phone"
          :rules="[  v => !!v || 'Телефон обязательный']"
          label="Ваш телефон"
          required
      ></v-text-field>


      <v-checkbox
          v-model="checkbox"
          :rules="[v => !!v || 'Согласитесь чтобы продолжить!']"
          label="Согласие на обработку персональных данных"
          required
      ></v-checkbox>

      <v-btn
          :disabled="!valid"
          color="primary"
          class="mr-4"
          @click="save"
      >
        Оставить заявку
      </v-btn>

    </v-form>
    <div v-else>
      <h2>Заявка успешно отправлена</h2>
    </div>
  </div>
</template>

<script src="./RequestForm.component.js"/>
