<template>
  <v-container class="pb-10">
    <v-row no-gutters class="pb-15">
      <v-col cols="6" md="5">
        <v-card class="pa-2" flat>
          <img :src="image" width="100%" class="pr-10">
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="7">
        <v-card class="pa-2" flat>
          <div>
            <h2 class="text-h3 font-weight-medium pb-10">{{title}}</h2>
            <div>
              <p v-html="content"></p>
            </div>

          </div>
        </v-card>
      </v-col>
    </v-row>

      <div class="types-group">Типы групп:</div>
      <v-row>
        <v-col cols="12" sm="4" class="v-flex">
          <div class="point">00-35</div>
          <div>
            <div class="text-h6">Базовый уровень</div>
              <ul>
                <li>Прохождение материала школьной программы с 5 класса</li>
                <li>Проработка сложных тем предмета</li>
                <li>Решение тестов ОГЭ и ЕГЭ</li>
              </ul>
          </div>
        </v-col>

        <v-col cols="12" sm="4" class="v-flex">
          <div class="point">35-65</div>
          <div>
            <div class="text-h6">Средний уровень</div>
              <ul>
                <li>Повторение всех тем школьной программы</li>
                <li>Разбор заданий среднего уровня</li>
                <li>Постепенный переход к более сложным заданиям</li>
              </ul>
            </div>
        </v-col>

        <v-col cols="12" sm="4" class="v-flex">
          <div class="point">65-99</div>
          <div>
            <div class="text-h6">Высокий уровень</div>
              <ul>
                <li>Безошибочное решение задач среднего уровня</li>
                <li>Подробный разбор тем высокой степени сложности</li>
                <li>Тренировка на заданиях олимпиадного уровня</li>
              </ul>
            </div>
        </v-col>
    </v-row>
  </v-container>
</template>

<style src="./SuccessBlock.component.css"/>

<script src="./SuccessBlock.component.js"/>
