.types-group{
    background: linear-gradient(353.29deg,#2bd7ff 4.54%,#1976d2 98.18%);
    color: #fff;
    line-height: 1em;
    font-size: 20px;
    padding: 18px 30px;
    border-radius: 15px 15px 0 0;
    font-weight: 600;
}
.v-flex{
    display: flex;
}
.point {
    background: linear-gradient(353.29deg,#2bd7ff 4.54%,#1976d2 98.18%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 50px;
    white-space: nowrap;
    padding-right: 20px;
    margin-top: 30px;
    line-height: 1em;
}
